%header.header
  .logo
    = link_to(root_path) do
      %i.material-icons card_giftcard
      HoneyGift
  .description
    たった3ステップで
    %br
    女性向けの素敵なプレゼントが選べます

  %svg{xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink": "http://www.w3.org/1999/xlink", version: "1.1", viewBox: "0 0 100 100", preserveAspectRatio: "none", id: "svg-bg"}
    %path{d: "M0,0 v50 q10,10 20,0 t20,0 t20,0 t20,0 t20,0 v-50 Z", fill: "#ffffe0"}
